HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### QueryDSL - 자동 생성 파일 ###
**/generated/
**/Q*.java
src/main/generated/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### yml, test code ###
src/main/resources/application-develop.yml
src/main/resources/application-deploy.yml
src/main/resources/application-redis.yml
src/main/resources/application-loadtest.yml
src/main/resources/test_data/
src/main/java/org/wemightmove/movemap/domain/stress_test/
src/main/resources/heyoung-b2033-firebase-adminsdk-fbsvc-4dc5719dfb.json
src/main/resources/application-firebase.yml

### docker ###
docker-compose.yml
postgres-data
Dockerfile

### etc ###
docs/