<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko" style="box-sizing: border-box;">
<head style="box-sizing: border-box;">
    <meta charset="UTF-8" style="box-sizing: border-box;">
    <title style="box-sizing: border-box;">Songpin Mail</title>
    <link href="https://fonts.googleapis.com/css?family=Inter&amp;display=swap" rel="stylesheet" style="box-sizing: border-box;">

</head>
<body>




<div style="width: 700px; height: 525px; background: rgba(0,0,0,0); display: flex; flex-direction: column; align-items: center;">
    <table style="width: 100%; border-collapse: collapse; position: relative;">
        <tr>
            <td colspan="5" style="text-align: center;">
                <img src="cid:logo" alt="logo">
            </td>
        </tr>
        <tr>
            <td style="padding-left: 50px; padding-right: 50px; padding-top: 20px; padding-bottom: 20px;">
                <div style="background: #FFFFFF; width: 600px; border: 1.5px solid rgba(1,1,1,1); padding-bottom: 50px; padding-top: 50px;">
                    <div style="padding: 20px; text-align: center;">
                        <p style="font-size: 13px; font-weight: bold;">요청하신 임시 비밀번호를 안내드립니다.</p>
                    </div>
                    <div style="padding: 23px; text-align: center;">
                        <p style="font-size: 13px; font-weight: bold;" th:text="${password}"></p>
                    </div>
                    <div style="padding: 20px; text-align: center;">
                        <p style="font-size: 11px; font-weight: bold;">로그인 후 반드시 마이페이지에서 비밀번호를 변경해 주세요.</p>
                    </div>
                </div>
            </td>
    </table>
</div>
</body>
</html>
